.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.header {
    position: relative;
}

.header__top {
    background-color: #e4e4e4;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__top-list {
    display: flex;
}

.header__top-item {
    margin-right: 15px;
}

.header__top-item:last-child {
    margin-right: 0;
}

.header__social-icon {
    margin-right: 15px;
}

.header__top-link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.42px;
    color: #003478;
}

.logo__img {
    height: 70px;
}

.social__icon {
    height: 16px;
    width: auto;
}

.header__center-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.header__center-right {
    display: flex;
    align-items: center;
}

.header__center-contact {
    display: flex;
    align-items: center;
}

.header__center-group {
    margin-right: 25px;
    display: flex;
}

.header__contact-icon {
    width: 15px;
    height: auto;
}

.icon__img {
    margin-right: 20px;
    border: solid #e4e4e4 1px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__header {
    font-weight: 700;
    color: #023574;
    margin-bottom: 10px;
}

.text-small {
    color: #7f99bb;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
}

.btn__primary {
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: #023272;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    background-color: #023574;
    padding: 0px 20px;
    border-radius: 5px;
    z-index: 10;
    top: 0;
    position: relative;
}

.height {
    height: 50px;
}

.relative {
    position: relative;
}

.navigation__menu {
    display: flex;
}

.navigation__item {
    margin-right: 40px;
    padding:20px 0;
    position: relative;
}

.navigation__link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: -.45px;
}

.navigation__right {
    display: flex;
    justify-content: space-between;
}

.menu__arrow {
    width: 10px;
    height: auto;
}

.form__search {
    height: 100%;
    display: flex;
    align-items: center;
}

.input__search {
    height: 80%;
    border-radius: 0;
    border: none;
    background-color: #02469b;
    padding: 5px 10px;
    color: #fff;
}

.input__search::placeholder {
    color: #fff;
}

.search {
    margin-left: -40px;
}

.menu__icon {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0, 52, 120) 0%, rgba(0, 52, 120, 0.1) 70%, rgba(0, 52, 120, 0.1) 100%);
    z-index: 10;
}

.section__hero {
    height: 490px!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
}
.section__hero--1{
    background-image: url('../img/hero-1.jpg');
}

.section__hero--2{
    background-image: url("../img/hero-2.jpg");
}
.section__hero--3{
    background-image: url("../img/hero-3.jpg");
}

.hero__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.section__text {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.heading__primary {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #023574;
    text-align: right;
}

.divider {
    width: 5px;
    background-color: #023574;
    margin: 0 20px;
}

.text__secondary {
    font-size: 14px;
    color: #023574;
    line-height: 1.5;
}

.align__center {
    margin: 0 auto;
}

.section__cards {
    display: flex;
    flex-direction: column;
}

.card__row {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.card__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #023574;
    margin-bottom: 20px;
}

.card {
    padding: 40px;
    box-shadow: 0 15px 40px #f0f0f0;
    border: 1px solid #edeff2;
    border-radius: 5px;
    margin-right: 30px;
}

.card:nth-child(2) {
    margin-right: 0;
}

.card__body {
    display: flex;
}

.card__right {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: #5a5a5a;
}

.hide {
    display: none!important;
}

.show {
    display: flex!important;
}

.card__text-toggle {
    display: none;
}

#btn__text-hide {
    display: none;
}

.input__text-toggle {
    height: 70px;
    width: 70px;
}

.input__text-toggle:checked~.card__text-toggle {
    display: flex;
}

.btn__toggle-text {
    font-weight: 600;
    font-size: 18px;
    color: #5a5a5a;
    cursor: pointer;
}

.btn__buy {
    text-decoration: underline;
    color: #023574;
    font-weight: 700;
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.section__hero-container{
    display: flex;
    margin-top: -28px;
    
    
}

.section__hero-content {
    padding-top: 170px;
    position: relative;
    z-index: 100;
    padding-bottom: 40px;
}

.text__hero-header {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
}

.text__hero-footer {
    color: #fff;
    margin-left: 10px;
    line-height: 1.2;
}

.content__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.content__footer {
    display: flex;
    margin-bottom: 15px;
}

.content__bottom {
    margin-top: 35px;
    display: flex;
}

.line__through {
    width: 50px;
    height: 2px;
    background-color: #fff;
}

.text__hero-body {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
}

.line__vertical {
    height: 40px;
    width: 2px;
    background-color: #fff;
}

.btn__hero-primary {
    background-color: #fff;
    color: #023272;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-right: 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: baseline;
    
}
.btn__hero-icon{
    margin-right: 10px;
}

.btn__hero-secondary {
    padding: 15px 25px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
}

.section__learnmore {
    height: 400px;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.section__learnmore-container {
    display: flex;
    justify-content: space-between;
}

.section__learnmore-img {
    margin-right: 100px;
}

.section__learnmore-content {
    margin-top: 50px;
}

.border__square {
    border: 13px solid #003478;
    border-radius: 10px;
    height: 280px;
    width: 400px;
    position: relative;
    margin-left: 50px;
    margin-top: -10px;
}

.learn__img {
    position: absolute;
    top: -30px;
}

.learn__img img {
    height: 300px;
    width: auto;
}

.learnmore__heading {
    font-size: 36px;
    color: 003478;
    text-transform: uppercase;
    font-weight: 800;
    color: #003478;
    line-height: 44px;
    letter-spacing: -1.08px;
    margin-bottom: 20px;
}

.learnmore__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #525252;
}

.header__mobile {
    display: none;
    height: 70px;
    background-color: #023574;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.mobile__menu-icon {
    color: #fff;
    font-size: 30px;
}

.sidebar {
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #023272;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
}

.icon__btn {
    height: 20px;
    width: auto;
}

.btn__learn {
    padding: 20px;
    background-color: #003478;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #023272;
    padding: 5px 10px;
    border: none;
    display: none;
}

.openbtn:hover {
    background-color: black;
}

.section__contact {
    height: 380px;
    background-image: url('../img/cta_bg.png');
    background-size: cover;
    background-position: center;
    background-color: #f0f4f9;
    padding: 70px 0;
}

.contact__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__body {
    display: flex;
    position: relative;
}

.contact__heading {
    color: #003478;
    margin: 0px 0px 10px 0px;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 43px;
}

.contact__card {
    box-shadow: 0px 25px 40px 0px rgba(0, 52, 120, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 0px;
    padding: 40px 40px 40px 40px;
    background-color: #003478;
    position: relative;
    width: 330px;
    border-radius: 10px;
}

.contact__card-icon {
    margin-right: 20px;
}

.contact__text-primary {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    margin-bottom: 5px;
    color: #fff;
}

.contact__text-secondary {
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.contact__middle-text {
    text-transform: uppercase;
    color: #003478;
    font-weight: 700;
    padding: 10px;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #003478;
}

.contact__middle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -28px;
    z-index: 10;
}

.contact__email--heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.input__contact-email {
    border-color: #114487;
    background: #114487;
    border-radius: 5px;
    color: #7f99bb;
    padding: 12px 0px 12px 22px;
    font-size: 16px;
    border: none;
    height: 18px;
}

.align__horizontal {
    display: flex;
    flex-direction: row;
}

.section__testimonial-slider {
    padding: 50px 20px;
}

.rounded-circle {
    border-radius: 50%;
}

.banner__container {
    padding: 40px;
    border-radius: 5px;
    background-color: #003478;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__text {
    font-size: 18px;
    color: #a6c3e9;
    font-weight: 400;
    line-height: 26px;
}

.banner__text-bold {
    font-weight: 600;
    color: #fff;
}

.banner__btn {
    margin-right: 10px;
}

.card__row-extra {
    display: none;
}

.btn__banner {
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.cards__blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin: 70px 0;
}

.card__blog {
    box-shadow: 9.899px 9.899px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.blog__img {
    height: auto;
    width: 100%;
}

.card__blog-heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blog__heading-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    margin-left: 15px;
    color: #666666;
}

.card__blog-text {
    padding: 20px;
}

.blog__body-text {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #003478;
}

.section__img-bg {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/cta_bg.png');
    background-color: #f0f4f9;
    margin-top: -194px;
    position: relative;
    z-index: -1;
}

.section__partners {
    padding: 30px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.section__partners-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 80px;
}

.see__more {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.btn__more {
    background-color: #fff;
    color: #023272;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #003478;
    cursor: pointer;
}


.section__partners-text {
    display: flex;
}

.partners__text {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    color: #003478;
}

.divider__vertical-partner {
    width: 5px;
    height: 48px;
    background-color: #003478;
    margin-right: 10px;
}

.footer__top {
    background-size: cover;
    background-position: center;
    background-image: url('../img/footerbg.jpg');
    padding: 50px 0;
}

.footer__link-title {
    color: #003478;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__link-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #003478;
}

.footer__text {
    color: #666666;
    font-size: 15px;
    line-height: 1em;
}

.footer__top-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    padding: 0 20px;
}

.footer__contact {
    margin-top: 20px;
}

.footer__contact-container {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.footer__contact-icon {
    margin-right: 10px;
}

.footer__contact-text {
    color: #193656;
    font-size: 15px;
    line-height: 22px;
}

.footer__email {
    margin-top: 15px;
}

.input__footer-email {
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid#ced4da;
    border-radius: .25rem;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.footer__bottom {
    padding: 30px;
    background-color: #003478;
}

.footer__copyright-text {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
}

.footer__bottom-container {
    display: flex;
    justify-content: space-between;
}

.footer__social-icons {
    display: flex;
    align-items: center;
}

.footer__bg {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 5px;
}

.bg__facebook {
    background-color: #3b5998;
}

.bg__linkedin {
    background-color: #0c77b6;
}

.bg__youtube {
    background-color: #d8362a;
}

.bg__mail {
    background-color: #7f99bc;
}

.input__footer-email::placeholder {
    text-align: center;
}

.btn__footer {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #003478;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.icon__btn-footer {
    margin-right: 10px;
}

.contact__email-input {
    display: flex;
    align-items: center;
}

.btn__contact-submit {
    background-color: #114487;
    padding: 8.4px;
    border: none;
    height: 100%;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Slider carousel testimonials */

.testimonial-reel {
    margin-bottom: 4rem !important;
    margin-top: 4rem;
}

.testimonial-reel .box {
    position: relative;
    margin-bottom: 30px;
}

.testimonial-reel .box .image {
    margin: 0 auto -45px;
    text-align: center;
}

.testimonial-reel .box .image img {
    height: 130px;
    margin: 0 auto;
}

.testimonial-reel .box .test-component {
    background-color: #fff;
    padding: 1rem 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-height: 200px;
}

.testimonial-reel .box .test-title {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 3.3rem;
    margin-bottom: 15px;
}

.testimonial-reel .box .test-content {
    text-align: center;
}

.testimonial-reel .slick-slide {
    opacity: 0.3;
    transition: opacity 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
}

.testimonial-reel .slick-slide.slick-cloned {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.testimonial-reel .slick-slide.slick-current.slick-active {
    opacity: 1;
    transition: opacity 0.3s;
}

.slick-slide:focus {
    outline: none;
}

.test-title-heading {
    font-size: 18px;
    font-weight: 800;
    color: #003478;
    margin-bottom: 10px;
}

.test-title-subheading {
    font-size: 13px;
    color: #5a5a5a;
}

.test-content {
    color: #5a5a5a;
    font-weight: 400;
}

.slick-slide {
    margin: 0px 20px;
}


.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
.mobile__logo-img{
    width: 50px;
}
.slick-slide.section__hero{
    margin:0;
}

.navigation__dropdown{
    position: absolute;
    top: 55px;
    background-color: #fff;
    padding: 10px 20px;
    width: 150px;
    display: none;
}
.navigation__dropdown-item{
    padding: 10px 0;
}
.navigation__dropdown-link{
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
.testimonial__img{
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 130px;
    width: 130px;
    z-index: 5;
    position: relative;
}
.testimonial__img--1{
    background-image: url("../img/avatar-2.jpg");
}
.testimonial__img--2{
    background-image: url("../img/avatar.jpg");
}
.testimonial__img-container{
    display: flex;
    justify-content: center;
}
#personalCoversMenu:hover > #personalCoverDropdown{
    display: block;
}
#personalCoverDropdown:hover{
    display: block;
}

#corporateCoverMenu:hover > #corporateCoverDropdown{
    display: block;
}
#corporateCoverDropdown:hover{
    display: block;
}
#aboutMenu:hover > #aboutDropdown{
    display: block;
}
#aboutDropdown:hover{
    display: block;
}

@media screen and (max-width: 1210px) {
    .container {
        max-width: 992px;
    }
    .card__row {
        align-items: center;
    }
    .section__learnmore-img {
        margin-right: 15px;
    }
    .banner__container {
        flex-direction: column;
    }
    .banner__text {
        margin-bottom: 25px;
        text-align: center;
    }
    .footer__top-container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        align-items: center;
    }
    .footer__link-container {
        display: flex;
        flex-direction: column;
        
    }
    .header__center {
        display: none;
    }
    .section__hero-container{
        margin-top: 0;
    }
    #myNav {
        display: none;
    }
    .header__mobile{
        display: flex;
    }

}

@media screen and (max-width: 996px) {
    .container {
        max-width: 768px;
    }
    .card__row {
        flex-direction: column;
        margin-bottom: 0;
    }
    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 70px;
    }
    .section__learnmore-container {
        flex-direction: column;
        align-items: center;
    }
    .section__learnmore {
        height: auto;
        padding: 30px 0;
    }
    .border__square {
        display: none;
    }
    .learn__img {
        position: relative;
        top: 0;
    }
    .contact__card {
        width: 250px;
    }
    .input__contact-email {
        width: 150px;
    }
    .contact__text-secondary {
        font-size: 20px;
    }
    .cards__blog {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .footer__bottom-container {
        flex-direction: column;
    }
    .footer__logo {
        margin: 20px 0;
    }
}

@media screen and (max-width: 770px) {
    .container {
        max-width: 576px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu-item {
        margin-bottom: 10px;
    }
    .contact__body {
        flex-direction: column;
    }
    .contact__card {
        margin-bottom: 10px;
    }
    .contact__middle {
        right: 50%;
        bottom: -30px;
    }
    .contact__heading {
        font-size: 24px;
    }
    .learnmore__heading {
        font-size: 24px;
    }
    .section__contact {
        height: auto;
        padding: 30px 0;
    }
    .cards__blog {
        grid-template-columns: 1fr;
    }
    .footer__top-container {
        grid-template-columns: 1fr;
    }
    .learn__img img {
        height: 180px;
    }
    .section__partners{
        flex-direction: column;
    }
    .section__partners-logos{
        grid-template-columns: repeat(2, 1fr);
    }
    .logo_carousel{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .section__partners-text{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 580px) {
    .container {
        padding: 20px;
        width: auto;
    }
    .card__body {
        flex-direction: column;
    }
    .card__row {
        align-items: center;
        margin-bottom: 0;
    }
    .card {
        width: 300px;
        padding: 20px 10px;
        margin-bottom: 50px;
    }
    .card__img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .card__title {
        text-align: center;
    }
    .text__hero-body {
        font-size: 24px;
    }
    .heading__primary {
        font-size: 24px;
    }
    .header__top-list {
        display: none;
    }
    .header__top-container {
        padding: 10px;
        justify-content: center;
    }
    .header__mobile {
        display: flex;
    }
    .header__center {
        display: none;
    }
    #myNav {
        display: none;
    }
    .section__hero {
        margin-top: 0;
    }
    .banner__text {
        padding: 30px 0;
    }
    .content__top{
        margin-top: 70px;
    }
    .btn__hero-primary{
        padding:8px 16px;
    }
    .btn__hero-secondary{
        padding:8px 16px;
    }
    .btn__hero-icon{
        display: none!important;
    }
    .section__hero {
        height: 450px!important;
    }
}